.App-menu {
  padding-top: 6px;
}

.App-menu a {
  margin-left: 40px;
  margin-top: 5px;
  text-decoration: none;
  color: white;
}

.App-menu a.selected {
  color: cyan;
}

.App-menu li {
  display: inline-block;
}

.App-menu li.side {
  float: right;
}

.App-menu a:hover {
  color: cyan;
}
