.hidden {
  display: none;
}
.shop-item {
  display: inline-block;
  height: 220px;
  width: 220px;
  margin: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.shop-item:hover {
  border-color:red;
}

.shop-item .up {
  height: 15%;
}

.shop-item .up .shop-title {
  font-size: 20px;
}

.shop-item .middle {
  height: 150px;
  width: 150px;
  display: inline-block;
}

.shop-item .down {
  height: 20%;
}

.shop-item .down .shop-btn {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: none;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  width: 70px;
  cursor: pointer;
  border: 2px solid white;
}

.shop-item .down .shop-btn:hover {
  border: 2px solid black;
}

.shop-item .down .like-btn {
  background-color: green;
}

.shop-item .down .dislike-btn, .shop-item .down .remove-btn {
  background-color: red;
}
